*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .container {
    margin-top: 2rem;
    display: flex;
   max-width: 100vw;
   max-height: 100vw;
    justify-content: center;

  }.box{
    display: grid;
  width: 60vw;
    grid-template-columns: repeat(8,1fr);
    border: 2px solid black;
  }.my-div{
     height: 5.2rem;
     width: 100%;
      border: 1px solid black;
      border-radius: 1%;
  }

 .white {
     background-color: #FFFFFF;
     color: #FFFFFF;
 }

 .black {
     background-color:#000000;
     color: #000000;
 }